USE [master]
GO
/****** Object:  Database [NHADAT]    Script Date: 28/05/2018 3:09:16 CH ******/
CREATE DATABASE [NHADAT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NHADAT', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\NHADAT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NHADAT_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\NHADAT_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NHADAT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NHADAT]
GO
/****** Object:  Table [dbo].[tblAim]    Script Date: 28/05/2018 3:09:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAim](
	[ID] [int] NOT NULL,
	[Name] [ntext] NULL,
 CONSTRAINT [PK_tblAim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLandInf]    Script Date: 28/05/2018 3:09:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLandInf](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Owner] [nvarchar](150) NULL,
	[Address] [ntext] NULL,
	[Area] [float] NULL,
	[Type] [int] NULL,
	[Aim] [int] NULL,
	[Price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tblLandInf] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblType]    Script Date: 28/05/2018 3:09:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblType](
	[ID] [int] NOT NULL,
	[Name] [ntext] NULL,
 CONSTRAINT [PK_tblType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
